.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(252, 251, 249);
}

.card-container {
  width: 400px;
  height: 400px;
  padding: 20px;
  // border: 1px solid red
}

.buttons-link {
  border: none;
  background-color: rgb(244, 154, 38);
  
  &:hover {
    background-color: rgb(255, 149, 11);
  }

  &:disabled {
    background-color: rgba(237, 163, 67, 0.923)
  }
}